{% extends 'base.html' %} {% block title %}Welcome{% endblock title %}


<!DOCTYPE html>
<html>
   <head>
      <title>Apple Scab</title>
   </head>
   <body>
   {% block content %}
     <center><h1>Detected Species is: Pepper<br>Disease is <b>Bell Pepper Bacterial spot</b><h1></center>
     <!-- <img src = "test_images/"
      alt = "Learn HTML5" height = "250" width = "270" />-->
	  <h3>Accuracy is: {{r}}%</h3>
	  <p>What are the symptoms ?<br>
<br/> Cause of disease:
     <br/><br/> 1. Apple scab overwinters primarily in fallen leaves and in the soil. Disease development is favored by wet, cool weather that generally occurs in spring and early summer.
        <br/> 2. Fungal spores are carried by wind, rain or splashing water from the ground to flowers, leaves or fruit. During damp or rainy periods, newly opening apple leaves are extremely susceptible to infection. The longer the leaves remain wet, the more severe the infection will be. Apple scab spreads rapidly between 55-75 degrees Fahrenheit.
        <br/><br/> How to prevent/cure the disease <br/>
        <br/>1. Choose resistant varieties when possible.
        <br/>2. Rake under trees and destroy infected leaves to reduce the number of fungal spores available to start the disease cycle over again next spring
        
        <br/>3. Water in the evening or early morning hours (avoid overhead irrigation) to give the leaves time to dry out before infection can occur.
        <br/>4. Spread a 3- to 6-inch layer of compost under trees, keeping it away from the trunk, to cover soil and prevent splash dispersal of the fungal spores.
<p>

<p>Confusion matrix</>
<img src="{{url_for('static', filename='confusion.png')}}" class="d-block w-100" alt="...">
<br/>
<p>ROC</p>
<img src="{{url_for('static', filename='roc.png')}}" class="d-block w-100" alt="...">
   </body>
   </body>
</html>

{% endblock content %}