{% extends 'base.html' %} {% block title %}Welcome{% endblock title %}


<!DOCTYPE html>
<html>
   <head>
      <title>Grape</title>
   </head>
   <body>
   {% block content %}
     <center><h1>Detected Species is <b>Grape</b><br/><b>Disease:Healthy</b><h1></center>
     <!-- <img src = "test_images/"
      alt = "Learn HTML5" height = "250" width = "270" />-->
	  <h3>Accuracy is: {{r}}%</h3>
	  <b>Crop</b>: Grape <br/>Disease: No disease<br/>
        <br/><br/> Don't worry. Your crop is healthy. Keep it up !!!
		
		<br/><br><b>Used in Ayurvedic</b><br/>
		<br/><br><b>Used in Ayurvedic</b><br/>
		Corn pacifies vitiated Kapha and Pitta dosha.<br/>
		It’s useful for general debility, anorexia, hemorrhoids and emaciation.<br/>
        It nourishes the Rasa Dhatu (plasma) and is known for reducing water retention and blood pressure.<br/>
		It is found efficacious in frequent urination and for difficulty in passing urine in prostate disorders.<br>
<br/>

<br/><p>Confusion matrix</p>
<img src="{{url_for('static', filename='confusion.png')}}" class="d-block w-100" alt="...">
<br/>
<p>ROC</p>
<img src="{{url_for('static', filename='roc.png')}}" class="d-block w-100" alt="...">
   </body>

   </body>
</html>

{% endblock content %}