{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5" style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.quora.com%2FThe-number-of-plant-species-used-for-food-is-relatively-small-What-are-at-least-five-of-the-reasons-why&psig=AOvVaw2qzCEoNC0Y39QIGkO92d8t&ust=1713021841377000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJCmpPmAvYUDFQAAAAAdAAAAABAJ'); background-color: aliceblue;">
    <div class="col-sm-12 p-sm-5" >
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
				<center><h1><font color='green'>Leaf Disease Detection </font></h1></center>
                    <img src="{{url_for('static', filename='images/sliders/first.jpg')}}" class="d-block w-100" alt="...">
                    <!--<div class="carousel-caption d-none d-md-block">
                        <h2>Welcome to Plant Disease</h2>
                        <p>A agriculture utility website to help farmers by providing harvesting solution using artificial intelligence.</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}