{% extends 'base.html' %} {% block title %}Welcome{% endblock title %}


<!DOCTYPE html>
<html>
   <head>
      <title>Leaf Disease</title>
   </head>
   <body>
   {% block content %}
     <center><h1>Detected Species is: Strawberry<br>Disease is <b>Strawberry Leaf scorch</b><h1></center>
     <!-- <img src = "test_images/"
      alt = "Learn HTML5" height = "250" width = "270" />-->
	  <h3>Accuracy is: {{r}}%</h3>
	  <p>What are the symptoms ?<br>
<br/> Cause of disease:
    <br/><br/> 1. Scorched strawberry leaves are caused by a fungal infection which affects the foliage of strawberry plantings. The fungus responsible is called Diplocarpon earliana.
        <br/> 2. Strawberries with leaf scorch may first show signs of issue with the development of small purplish blemishes that occur on the topside of leaves.
        <br/><br/> How to prevent/cure the disease <br/>
        <br/>1. Since this fungal pathogen over winters on the fallen leaves of infect plants, proper garden sanitation is key.
        <br/>2. This includes the removal of infected garden debris from the strawberry patch, as well as the frequent establishment of new strawberry transplants.
        
        <br/>3. The avoidance of waterlogged soil and frequent garden cleanup will help to reduce the likelihood of spread of this fungus.
<p>

<p>Confusion matrix</>
<img src="{{url_for('static', filename='confusion.png')}}" class="d-block w-100" alt="...">
<br/>
<p>ROC</p>
<img src="{{url_for('static', filename='roc.png')}}" class="d-block w-100" alt="...">
   </body>
   </body>
</html>

{% endblock content %}