{% extends 'base.html' %} {% block title %}Welcome{% endblock title %}


<!DOCTYPE html>
<html>
   <head>
      <title>Apple Scab</title>
   </head>
   <body>
   {% block content %}
     <center><h1>Detected Species is <b>Tomato</b><br/><b>Disease:Healthy</b><h1></center>
     <!-- <img src = "test_images/"
      alt = "Learn HTML5" height = "250" width = "270" />-->
	  <h3>Accuracy is: {{r}}%</h3>
	  <b>Crop</b>: Tomato <br/>Disease: No disease<br/>
        <br/><br/> Don't worry. Your crop is healthy. Keep it up !!!
		
		<br/><br><b>Used in Ayurvedic</b><br/>
		It may have antioxidant activity , It may have anti-inflammatory properties  <br/>
		It may have a cholesterol-lowering effect,It may have a blood pressure-lowering effect   <br/>
        It may have a blood sugar lowering effect,It may have an anti-obesity effect (may help reduce weight)  <br/>
		It may have antifungal activity,It may have an anti-carcinogenic effect (may reduce cancer cell growth)<br>
		It may have an anti-mutagenic effect (may stop mutation in a cell),It may have antiplatelet activity (may stop blood clots).
<br/>

<br/><p>Confusion matrix</p>
<img src="{{url_for('static', filename='confusion.png')}}" class="d-block w-100" alt="...">
<br/>
<p>ROC</p>
<img src="{{url_for('static', filename='roc.png')}}" class="d-block w-100" alt="...">
   </body>
   </body>
</html>

{% endblock content %}